.progress-bar {
  background-color: #f0f2f2;
  height: 1.5rem;
  display: flex;
  flex: 1;
  border-radius: 4px;
}

.filled-bar {
  border-radius: 4px;
  /* background-color: #ffa41c; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;
}
